@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Teko:wght@300;400;600&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}

h1, p {
    margin: 0;
}

#game-container {
    margin-top: 5vh;
}

#header-container {
    width: 512px;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.title {
    font-size: 1.6rem;
}

.subtitle {
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 8px;
    flex-shrink: 1;
}


/* The grid container and its squares */

#grid-container {
    height: 512px;
    width: 512px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.grid-row {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.grid-item {
    background-color: white;
    display: flex;
    flex-grow: 1;
    border: 1px solid rgba(55, 55, 55, 0.2);
}


/* The settings container and its settings */

.settings-container {
    width: 100%;
    height: 64px;
    display: flex;
}

i {
    pointer-events: none;
}

.color-fill {
    background-color: black;
}

.color-fill i {
    color: white;
}

.popup-container {
    align-items: flex-start;
}

.settings-box {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-header {
    border: 2px solid black;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-header:not(.color-fill):hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* uses seperate :hover/active properties based on color selected */
.color-fill:hover { 
    cursor: pointer;
}

.settings-active {
    border: 4px solid black;
}

.settings-active:not(.color-fill) {
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

#clear:active {
    background-color: white;
    border: 4px solid black;
}

.grid-popup, .color-popup {
    gap: 16px;
}

.grid-swatch {
    width: 84px;
}

.color-swatch {
    height: 32px;
    width: 32px;
}